<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alfie</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2C30247CE8B7AD0D1D244EDADDEA98945DC1ADB6</string>
				<key>dateExpires</key>
				<string>2/2/2027</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C30247CE8B7AD0D1D244EDADDEA98945DC1ADB6</string>
						<key>dateExpires</key>
						<string>2/2/2027</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>com.apple.security.app-sandbox</key>
						<true/>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>EPZDEPSV69.Morris.CinematicCoreMacOS</string>
						</array>
						<key>com.apple.security.iosurface</key>
						<true/>
					</dict>
					<key>name</key>
					<string>Morris.CinematicCoreMacOS.CinematicCoreExtension.systemextension</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EPZDEPSV69</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.application-identifier</key>
				<string>EPZDEPSV69.Morris.CinematicCoreMacOS</string>
				<key>com.apple.developer.system-extension.install</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>EPZDEPSV69</string>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>EPZDEPSV69.Morris.CinematicCoreMacOS</string>
				</array>
				<key>com.apple.security.device.audio-input</key>
				<true/>
				<key>com.apple.security.device.camera</key>
				<true/>
				<key>com.apple.security.device.usb</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.iosurface</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Alfie.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>743be1d1-3678-413e-be3e-2041cbd7a1a0</string>
				<key>dateExpires</key>
				<string>6/7/2044</string>
				<key>name</key>
				<string>Mac Team Direct Provisioning Profile: Morris.CinematicCoreMacOS</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EPZDEPSV69</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
